/* Coolors Exported Palette - coolors.co/ac3931-e5d352-d9e76c-537d8d-482c3d */

$color1: #ac3931; //rgba(172, 57, 49, 100)
$color2: #e5d352; //rgba(229, 211, 82, 100)
$color3: #d9e76c; //rgba(217, 231, 108, 100)
$color4: #537d8d; //rgba(83, 125, 141, 100)
$color5: #482c3d; //rgba(72, 44, 61, 100)