:global {
  @import 'base';
  @import 'vendor/normalize';
  @import 'palette';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    //background-color: $color5;

    .page-container {
      .title{
        color: $color3;
      }

      .fixed {
        position: fixed;
      }

      .view-container {
        border-left: 1px solid $color2;
      }
    }
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}
